<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="icon"
      phx-track-static
      href={~p"/favicon.ico"}
      type="image/x-icon"
      sizes="any"
    />
    <link
      rel="icon"
      phx-track-static
      type="image/png"
      sizes="32x32"
      href={~p"/favicon-32x32.png"}
    />
    <link
      rel="icon"
      phx-track-static
      type="image/png"
      sizes="16x16"
      href={~p"/favicon-16x16.png"}
    />
    <link
      rel="apple-touch-icon"
      phx-track-static
      href={~p"/apple-touch-icon.png"}
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body class="antialiased">
    <main class="w-full">
      {@inner_content}
    </main>
  </body>
</html>
