<div class="min-h-screen bg-zinc-50 flex flex-col">
  <header class="pt-8 pb-4 px-4">
    <div class="max-w-lg mx-auto flex justify-center">
      <.home_logo_link id="focus-home-logo" />
    </div>
  </header>
  <main class="flex-1 px-4 pb-12">
    <div class="max-w-lg mx-auto w-full">
      {@inner_content}
    </div>
  </main>
  <.toast_group_with_bridge
    connected={assigns[:socket] != nil}
    corner={:top_right}
    {assigns}
  />
</div>
