<mj-section background-color="#fff" border-radius="6px 6px 0px 0px" padding-bottom="24px" padding-left="48px" padding-right="48px" padding-top="48px" padding="48px">
  <mj-column padding="0">
    <mj-spacer height="24px"></mj-spacer>
    <mj-text color="#000000" font-size="32px" line-height="1.25" padding="0px">
      <strong>New login to Young Scandinavians Club</strong>
    </mj-text>
  </mj-column>
</mj-section>
<mj-section background-color="#fff" border-radius="0px 0px 6px 6px" padding-bottom="48px" padding-left="48px" padding-right="48px" padding-top="20px" padding="48px">
  <mj-column padding="0">
    <mj-spacer height="12px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px">Hello <%= @first_name %>!</mj-text>
    <mj-spacer height="24px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px"><%= @intro_text %></mj-text>
    <mj-spacer height="24px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px"><strong>Platform:</strong> <%= @device %></mj-text>
    <mj-spacer height="12px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px"><strong>Location:</strong> <%= @location %></mj-text>
    <mj-spacer height="12px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px"><strong>Time:</strong> <%= @signed_in_at %></mj-text>
    <mj-spacer height="24px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px">Go to your security settings for a list of your recent sign-ins and active sessions.</mj-text>
    <mj-spacer height="12px"></mj-spacer>
    <mj-button href="<%= @security_url %>" css-class="btn_block" inner-padding="15px" width="100%" background-color="#1447e6" color="#ffffff" align="center" font-size="18px" border-radius="4px"> Security settings → </mj-button>
    <mj-spacer height="24px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px">If you didn't make this login or don't recognize this activity, sign out unfamiliar sessions from your security settings and contact us at <a href="mailto:info@ysc.org" style="color: #1447e6;">info@ysc.org</a>.</mj-text>
    <mj-spacer height="24px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px">Skål! 🍻</mj-text>
    <mj-spacer height="24px"></mj-spacer>
    <mj-text align="left" font-size="18px" line-height="1.5" padding="0px">Young Scandinavians Club</mj-text>
    <mj-spacer height="12px"></mj-spacer>
  </mj-column>
</mj-section>
